import * as React from 'react';
import  './style.scss';

interface IProps{
  
}

interface IState{
  
}

export default class {{name}} extends React.Component<IProps, IState> {

  state: IState = {
    
  }

  componentDidMount () {

  }

  render(){
    return (
      <div className="{{className}}">
        
      </div>
    )
  }
}