name: CI
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install pnpm
        uses: pnpm/action-setup@v2.2.1
        with:
          version: 6.32.2
      - uses: actions/setup-node@v2
        with:
            node-version: 14.x
            cache: pnpm
      - name: pnpm install
        run: pnpm install
      - name: check
        run: pnpm check

# on: push
# jobs:
#   # install dependencies
#   setup:
#     name: setup
#     runs-on: ubuntu-latest
#     steps:
#         - uses: actions/checkout@v2
#         - name: eslint
#           uses: actions/setup-node@v1
#           with:
#             node-version: '12.x'
#         # cache node_modules
#         # spped up the procedure of installing packages
#         - uses: actions/cache@v2
#           with:
#             path: '**/node_modules'
#             key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

#         - name: install packages
#           run: yarn
          
#   # static code check
#   # eslint and prettier
#   static-check:
#     name: static check
#     runs-on: ubuntu-latest
#     needs: [setup]
#     steps:
#       - uses: actions/checkout@v2
#       - name: Use Node.js
#         uses: actions/setup-node@v1
#         with:
#           node-version: '12.x'
#       - uses: actions/cache@v2
#         with:
#           path: '**/node_modules'
#           key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
#       - name: eslint
#         run: node -v && yarn eslint
#       - name: prettier
#         run: yarn prettier

#   # run unit test
#   unit-test:
#     name: unit test
#     runs-on: ubuntu-latest
#     needs: [setup, static-check]
#     steps:
#       - uses: actions/checkout@v2
#       - name: Use Node.js
#         uses: actions/setup-node@v1
#         with:
#           node-version: '12.x'
#       - uses: actions/cache@v2
#         with:
#           path: '**/node_modules'
#           key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
#       - name: unit-test
#         run: node -v && yarn test
